{% extends 'apple/base.html' %}

{% load staticfiles %}

{% block title %}
    {% if guide %}
        {{ guide.name }}
    {% else %}
        Guide does not exist
    {% endif %}
{% endblock %}

{% block body_block %}
{% if guide %}
<main role="main">
     <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">{{ guide.name }}</h1>
            <p>authored by {{ guide.author }}</p>
          </div>
      </div>
    <div align="center">
    <div class="panel panel-primary">
  <div class="panel-heading">
            <h2 class="panel-title">Ratings: <font color="green">+{{ guide.upvotes }}</font> : <font color="red">-{{ guide.downvotes }}</font></h2>
        <h2>Views: {{ guide.views }}</h2>
    </div>
        <div>
            <h4>Description:</h4>
            <h1>{{ guide.desc }}</h1>
                </div>
        <div class="row">
            <div class="col-md-3"></div>
        <div class="col-md-3">
            <p><a class="btn btn-success" href="{% url 'add_guide' %}" role="button">Like it &raquo;</a></p>
          </div>
          <div class="col-md-3">
            <p><a class="btn btn-danger" href="{% url 'rate_guides' %}" role="button">Hate it &raquo;</a></p>
          </div>
            <div class="col-md-3"></div>
        </div>
    </div>
 </main>
{% else %}
<main role="main">
     <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Guide does not exist</h1>
          </div>
      </div>
</main>
{% endif %}
{% endblock %}