{% extends 'apple/base.html' %}

{% load staticfiles %}

{% block title %}List of Guides{% endblock %}

{% block body_block %}

 <main role="main">

     <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">List of the Current Guides</h1>
          </div>
      </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
            <h3 class="panel-title">Guides:</h3>
    </div>
     {% if guide_list %}
            <ul>
          {% for guide in guide_list %}
            <div class="list-group col-md-2">
                <div class="row justify-content-flex-initial">
                <li><a href="/apple/guide/{{ guide.slug }}">{{ guide.name }} by {{ guide.author }}</a></li>
                </div>

            </div>
                {% endfor %}
            </ul>
            {% else %}
                <strong>There are no current guides</strong>
                {% endif %}
    </div>

 </main>
{% endblock %}