{% extends 'apple/base.html' %}

{% load staticfiles %}

{% block title %}Rate Guides{% endblock %}

{% block body_block %}

 <main role="main">

     <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Rate the Current Guides</h1>
          </div>
      </div>
    <div class="panel panel-primary">
    <div class="panel-heading">
            <h3 class="panel-title">Guides:</h3>
    </div>
     {% if guide_list %}
        <br>
        {% for guide in guide_list %}
        <div class="list-group col-md-2">
        <div class="row justify-content-flex-initial">
        <li><font color="green">+ {{ guide.upvotes }}</font> / <font color="red">- {{ guide.downvotes }}</font> <a href="{% url 'homepage' %}">{{ guide.name }}</a></li>
        </div>
        </div>
        {% endfor %}
        {% else %}
        <strong>There are no current guides</strong>
        {% endif %}
    </div>

 </main>
{% endblock %}